@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:400,500&subset=hebrew');
@font-face {
  font-family: 'Taamey Frank';
  src: url('TaameyFrankCLM-Medium.ttf');
}
/* @import url('https://fonts.googleapis.com/css?family=Heebo&subset=hebrew');
@import url('https://fonts.googleapis.com/css?family=David+Libre&subset=hebrew'); */
@font-face {
  /* https://www.sbl-site.org/educational/biblicalfonts_sblhebrew.aspx */
  font-family: 'sbl-hebrew';
  src: url('SBL_Hbrw.ttf');
}

ol {
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
  width: 600px;
  margin: 0 auto;
}

.text {
  font-size: 3rem;
  line-height: 4rem;
  color: #333;
  cursor: pointer;
  direction: rtl;
  text-align: center;
  /* font-family: 'David Libre'; */
  /* font-family: sbl-hebrew; */
  font-family: 'Frank Ruhl Libre', 'Taamey Frank', serif;
  /* font-family: Heebo */
  /* font-family: 'Frank Ruehl Libre', 'Taamey Frank', serif; */
}

audio {
  width: 100%;
}

h1 {
  text-align: center;
}

.mark {
  color: #00f;
}

/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
